@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    margin-top: 100px;
    max-width: 900px;
    width: 100%;
    background-color: #fff;
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.15);
}
body {
    display: flex;
    font-family:'Roboto Mono';
    justify-content: center;
    align-items: center;
}
.content {
    justify-content: center;  
    align-items: center;
    padding: 20px;
    margin-top: 50px;  
}
h1 {
    color :black;
    justify-content: center;
    align-items: left;
    font-family: 'Oswald';
    font-size: 40px;
    margin-bottom: 1.5rem;
    display: flex;
    flex-wrap: wrap;
}
p{
    font-size: 20px;
    color: black;
    font-family: 'Roboto Mono';
}
button{
    height: 45px;
    width: 160px;
    background-color: rgb(228, 236, 236);   
}